@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifre yenilemesi onayı";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz yenilendi. Giriş yapmak için lütfen <a asp-page="./Login">e tıklayın.</a>.
</p>
