@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Kişisel Veri";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Hesabınız bize verdiğiniz kişisel verileri içeriyor. Bu sayfa o veriyi indirmenizi veya silmenizi sağlar.</p>
        <p>
            <strong>Bu veriyi silmek hesabınızı geri döndürülemez şekilde yok eder.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">İndir</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger mt-3">Sil</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
