@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "İki-faktörlü Doğrulama (2FD)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Kurtarma kodunuz kalmadı.</strong>
                    <p><a asp-page="./GenerateRecoveryCodes">Kurtarma koduyla giriş yapmadan önce</a> yeni bir kod belirleyin.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>1 kurtarma kodunuz kaldı.</strong>
                    <p><a asp-page="./GenerateRecoveryCodes">yeni kurtarma kodları oluşturabilirsiniz.</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>@Model.RecoveryCodesLeft kurtarma kodunuz kaldı.</strong>
                    <p><a asp-page="./GenerateRecoveryCodes">Kurtarma koduyla giriş yapmadan önce</a>yeni bir kod belirleyin.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Bu tarayıcıyı unut</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">2FD'yi kapat</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Kodları Sıfırla</a>
        }

        <h4>Yetkili uygulama</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Yetkili uygulama ekle</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Yetkili uygulama belirle</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Yetkili uygulamayı sıfırla</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Gizlilik ve çerez politikası kabul edilmedi.</strong>
            <p>2 faktörlü doğrulama için gizlilik ve çerez politikasını kabul etmeniz gerekiyor.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
